* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}

.header {
    width: 1770px;
    /* background-color: lightblue; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.navMenu {
    display: flex;
    gap: 40px;
    align-items: center;
    font-weight: 600;
}

.search {
    background-color: #f5f5f6;
    display: flex;
    gap: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    align-items: center;
    border: 1px solid lightgray;
}

.search input {
    width: 500px;
    border: none;
    padding: 5px;
    background-color: transparent;
}
.account{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    gap: 20px;
}