 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .container {
     max-width: 1000px;
     /* background-color: lightblue; */
     margin: auto;
 }

 .header {
     padding: 50px 0px;
     text-align: center;
     /* background-color: lightgreen; */
     border: 1px solid black;
     position: relative;
 }

 .mobileMenu {
     display: none;
     font-size: 30px;
     position: absolute;
     right: 25px;
     top: 45px;
 }

 .navMenu {
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
     background-color: lightcoral;
 }

 .navMenu div {
     width: 20%;
     padding: 20px 0px;
     border: 1px solid black;
 }

 .main {
     display: flex;
     justify-content: space-between;
     text-align: center;
 }

 .sidebar {
     width: 25%;
 }

 .sidebar div {
     padding: 20px 0px;
     border: 1px solid black;
 }

 .rightSideBar {
     width: 75%;
     border: 1px solid black;
     height: 300px;
 }

 .client {
     padding: 25px 0px;
     border: 1px solid black;
     text-align: center;
 }

 .imageHere {
     display: flex;
     text-align: center;
 }

 .imageHere div {
     width: 33.33%;
     border: 1px solid black;
     padding: 50px 0px;
 }

 .footer {
     padding: 25px 0px;
     border: 1px solid black;
     text-align: center;
 }