@media only screen and (min-width:0px) and (max-width:576px) {
    .box{
        width: 100%;
    }
}

@media only screen and (min-width:577px) and (max-width:991px) {
    .box{
        width: 46%;
    }
}